<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>添加新闻页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/css/font.css">
		<link rel="stylesheet" href="/static/css/weadmin.css">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="weadmin-body">
        <form class="layui-form" action="/admin/news/newslist/addnews" method="POST">
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="we-red">*</span>文章标题
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="title" name="title" 
                  autocomplete="off" value="" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="phone" class="layui-form-label">
                  <span class="we-red">*</span>作者
              </label>
              <div class="layui-input-inline">
                  <input type="text" value="" id="author" name="author" 
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
            <label for="phone" class="layui-form-label">
                <span class="we-red">*</span>发布时间
            </label>
            <div class="layui-input-inline">
                <input type="text" value="" id="pubtime" name="pubtime" 
                autocomplete="off" class="layui-input">
            </div>
        </div>
          <div class="layui-form-item">
              <label for="L_pass" class="layui-form-label">
                  <span class="we-red">*</span>文章内容
              </label>
              <div class="layui-input-block" id="fwb">
                 
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="">
                  修改
              </button>
              <!-- <button  class="layui-btn">
                    修改
            </button> -->
          </div>
      </form>
    </div>
		<script src="/lib/layui/layui.js" charset="utf-8"></script>
		<script src="/js/wangEditor.min.js" charset="utf-8"></script>
    <script type="text/javascript">
    	layui.extend({
				admin: '{/}/static/js/admin'
            });
        //引入上传模块
	    layui.use(['form','layer','admin','upload','jquery'], function(){
	        var form = layui.form,
	      	admin = layui.admin,
	      	layer = layui.layer;
            var upload = layui.upload;
            var $ = layui.jquery;
          //监听提交
          form.on('submit(add)', function(data){
            console.log(data);
           $.ajax({
               url:"/admin/news/newslist/addnews",
               method:"post",
               data:data.field
           }).then(function(res){
               console.log(res)
                layer.alert("增加成功", {icon: 6},function () {
                    // 获得frame索引
                    var index = parent.layer.getFrameIndex(window.name);
                    //关闭当前frame
                    parent.layer.close(index);
                    //将ifame的上一层进行刷新页面
                    window.parent.location.reload()
                });
           })
            return false;
          });

        //    富文本编辑器
            var E = window.wangEditor
            var editor2 = new E('#fwb')
            editor2.create()
          
        });
    </script>

    
    <script>
      


    </script>
  </body>

</html>