<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>管理员列表2</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="/static/css/font.css">
		<link rel="stylesheet" href="/static/css/weadmin.css">
		<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
		<!--[if lt IE 9]>
	      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
	      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>

	<body>
		<div class="weadmin-nav">
			<span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">管理员管理</a>
        <a>
          <cite>管理员列表</cite></a>
      </span>
			<a class="layui-btn layui-btn-sm" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
				<i class="layui-icon" style="line-height:30px">ဂ</i></a>
		</div>
		<div class="weadmin-body">
			<div class="layui-row">
				<form class="layui-form layui-col-md12 we-search">
					<div class="layui-inline">
						<input class="layui-input" placeholder="开始日" name="start" id="start">
					</div>
					<div class="layui-inline">
						<input class="layui-input" placeholder="截止日" name="end" id="end">
					</div>
					<div class="layui-inline">
						<input type="text" name="username" placeholder="请输入用户名" autocomplete="off" class="layui-input">
					</div>
					<button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
				</form>
			</div>
			<div class="weadmin-block">
				<button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
				<button class="layui-btn" onclick="WeAdminShow('添加用户','/admin/users/userlist2/adduser')"><i class="layui-icon"></i>添加</button>
				<span class="fr" style="line-height:40px">共有数据：88 条</span>
			</div>
			<table id="demo" lay-filter="test" class="layui-table">
				
			</table>
			
		</div>
		<script src="/lib/layui/layui.js" charset="utf-8"></script>
    	<script src="/static/js/eleDel.js" type="text/javascript" charset="utf-8"></script>
		
		<script type="text/javascript">
			layui.use('table', function(){
			  var table = layui.table;
			  
			  //第一个实例
			  table.render({
			    elem: '#demo'
			    ,url: '/admin/users/userlist2/api/userlist' //数据接口
				,page: true //开启分页
				,limit:7,
				size:"lg"
					,cols: [[ //表头
			      ,{field: 'user_id', title: 'ID', fixed: 'left'}
			      ,{field: 'username', title: '用户名'}
			      ,{field: 'tel', title: '手机', }
			      ,{field: 'email', title: '邮箱', } 
			      ,{field: 'rolename', title: '角色', }
			      ,{field: 'avatar', title: '头像',templet: '#imgheader'}
			      ,{field: 'edit', title: '操作',templet:"#caozuo"}
			    ]]
			  });
			  
			});
		</script>

		<script type="text/html" id="imgheader">
			{{#  if(d.avatar){ }}
				<img src="{{d.avatar}}" style="width:100px;height:100px;" >
			{{#  } else { }}
				<img src="https://img.zcool.cn/community/01c8415b10ec7aa801212d57334fdc.png@1280w_1l_2o_100sh.png" style="width:100px;height:100px;" >
			{{#  } }}
			
		</script>

		<script type="text/html" id="caozuo">
			<a title="编辑" onclick="WeAdminShow('编辑','/admin/users/userlist2/edituser?id={{d.user_id}}')" href="javascript:;">
				<i class="layui-icon">&#xe642;</i>
			</a>
			<a title="删除" onclick="userdel(this,'{{d.id}}')" href="javascript:;">
				<i class="layui-icon">&#xe640;</i>
			</a>
		</script>

		<style>
			.layui-table tr td,.layui-table tr td div{
				height: 100px !important;
			}
		</style>

		<script>
			layui.use(['table','jquery','layer'], function(){
				let layer = layui.layer;
				let $ = layui.jquery;
				window.userdel = function (obj, id) {
				layer.confirm('确认要删除吗？', function(index) {
					//发异步删除数据
					$.get('/admin/users/userlist2/deluser?user_id='+id).then((res)=>{
						layer.msg('已删除!', {
							icon: 1,
							time: 1000
						});
						setTimeout(()=>{
							location.reload()
						},1000)
						
					})
					
				});

			}


			})
			
		
		</script>
	</body>

</html>